{% extends 'base.html' %}

{% block title %} Account Management {% endblock %}


{% block body %}

<h1>Edit Account</h1>
<div padding=20px>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>


<!--
{if role == admin or scheduler}

Make viewing the uses on the page available to the admin and scheduler???

Where admin/scheduler will be able to see user info and CRUD users

{endif}


-->



{% endblock %}