{% extends 'base.html' %}

{% block title %} Schedule {% endblock %}


{% block body %} 
<h1>Schedule</h1>
<br>
<hr>

{% if all_availability %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Employee</th>
            <th scope="col">Day</th>
            <th scope="col">Time Slot</th>
            <th scope="col">Position</th>
            <th scope="col">Date Added</th>
            <th scope="col">Date Modified</th>
        </tr>
    </thead>

    <tbody>
        {% for row in all_availability %}
        <tr>

            <td> {{ row['email'] }}</td>
            <td> {{ row['day_available'] }}</td>
            <td> {{ row['time_slot'] }}</td>
            <td> {{ row['position'] }}</td>
            <td> {{ row['date_added'] }}</td>
            <td> {{ row['date_modified'] }}</td>
            <td>
                <form action="{{ url_for('admin_edit_position', employee_availability_id=row['_id']) }}" method="POST">
                    <input type="submit" class="btn btn-primary" value="Change Position" />
                </form>
            </td>


           
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}