{% extends 'base.html' %}

{% block title %} Schedule Tuesday {% endblock %}


{% block body %} 
<h1>Schedule</h1>
<br>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('schedule')}}">Monday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('schedule_tuesday')}}">Tuesday</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Wednesday</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Thursday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Friday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Saturday</a>
      </li>
  
  </ul>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Tuesday</th>
        <th scope="col">0700</th>
        <th scope="col">0800</th>
        <th scope="col">0900</th>
        <th scope="col">1000</th>
        <th scope="col">1100</th>
        <th scope="col">1200</th>
        <th scope="col">1300</th>
        <th scope="col">1400</th>
        <th scope="col">1500</th>
        <th scope="col">1600</th>
        <th scope="col">1700</th>
        <th scope="col">1800</th>
        <th scope="col">1900</th>
        <th scope="col">2000</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Employee 1</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>

{% endblock %}